= form_for @todo_item do |f|
  - if @todo_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo_item.errors.count, "error")} prohibited this todo_item from being saved:"
      %ul
        - @todo_item.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
